.user {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.disp_flex{
    display: flex;
}

.avatar {
    align-self: center;
    width: 60px;
    border-radius: 30px;
}

.btn_follow{
    align-self: center;
    width: 100px;
}